<div class="border border-gray-700 border-opacity-75 p-6 rounded-lg w-2/3">
  <div
    class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-gray-800 text-indigo-400 mb-4"
  >
    <svg
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      class="w-6 h-6"
      viewBox="0 0 24 24"
    >
      <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
    </svg>
  </div>
  <h2 class="text-lg text-white font-medium title-font mb-2">
    {{ taskData.title }}
  </h2>
  <p class="leading-relaxed text-base">
    {{ taskData.description }}
  </p>
  <div class="mt-3">
    <app-task-lable
      [taskProgress]="taskData.status"
      [priorityLevel]="taskData.priorityLevel"
    ></app-task-lable>
  </div>
  <div class="mt-3">
    <app-task-tag-lable [taskTags]="taskData.Tags"></app-task-tag-lable>
  </div>
</div>
